/* noto-sans-latin-wght-normal */
@font-face {
  font-family: "Noto Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/noto-sans/files/noto-sans-latin-wght-normal.woff2) format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
    U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* noto-sans-cyrillic-wght-normal */
@font-face {
  font-family: "Noto Sans Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/noto-sans/files/noto-sans-cyrillic-wght-normal.woff2) format("woff2-variations");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* material-icons-latin-400-normal */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(material-icons/iconfont/material-icons.woff2) format('woff2');
}
